.plain-b{
    height: 20px;
    width: 20px;
    background: #F1F1F1;
    border:1px solid #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .plain-two{
    height: 20px;
    width: 20px;
    border:1px solid #8CB13D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plain-inner{
    height: 11px;
    width: 11px;
    background: #8CB13D;
    border-radius: 50%;
  }
  .good-time{
      border: 1px solid #E6E6E6;
  }
  .blessed{
    border: 1px solid #8CB13D;
    background: #8cb13d0b;
  }