.selected-indicator--dot-container {
    height: 20px;
    width: 20px;
    background: #f1f1f1;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.selected-indicator--dot-inner {
    height: 11px;
    width: 11px;
    background: #8cb13d;
    border-radius: 50%;
}

.default-state-indicator--circle {
    height: 20px;
    width: 20px;
    border: 1px solid #8cb13d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-state--item {
    border: 1px solid #e6e6e6;
}

.selected--item {
    border: 1px solid #8cb13d;
    background: #8cb13d0b;
}
