.active_me {
  background: #dae1bf;
  border-radius: 4px;
  padding: 8px;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.two_borders {
  border-left: 1px solid #dae1bf;
  border-right: 1px solid #dae1bf;
}

.main_border_wrap {
  border: 1px solid #dae1bf;
  border-radius: 7px;
}
